@media(max-width: 425px){
    .container{
        width: 95%;
    }

    .navbar-nav, ul, li {
        width: 100%;
        text-align: center;
        display: block;
    }

    .navbar-nav li {
        padding: 10px 0px;
    }

    ul>.active::before {
        left: 129px;
    }

    .bx-wrapper {
        max-width: 317px !important;
    }

    .bx-wrapper .bx-controls-direction a {
        position: static !important;
    }
}

@media(min-width: 426px) and (max-width: 768px){
    
}